.projects {
  margin: 0 240px 0 240px;
  padding: 0;
  transition-duration: 500ms;

  @media (max-width: 1700px) {
    margin: 0 160px 0 160px;
  }

  @media (max-width: 1575px) {
    margin: 0 100px 0 100px;
  }

  @media (max-width: 1400px) {
    margin: 0 50px 0 50px;
  }

  @media (max-width: 1299px) {
    margin: 0 300px 0 300px;
  }

  @media (max-width: 1000px) {
    margin: 0;
  }
}

.overline_red {
  color: #F87171;
}

.projects_list_1 {
  margin: 76px 0 0 0;

  display: grid;
  justify-content: left;
  grid-template-columns: auto auto auto;
  gap: 156px;
  transition-duration: 500ms;

  @media (max-width: 1919px) {
    justify-content: space-between;
    gap: unset;
  }

  @media (max-width: 1299px) {
    gap: 40px;
    justify-content: center;
    grid-template-columns: auto;
  }
}

.projects_list_2 {
  margin: 76px 0 150px 0;

  display: grid;
  justify-content: left;
  grid-template-columns: auto auto auto;
  gap: 156px;
  transition-duration: 500ms;

  @media (max-width: 1919px) {
    justify-content: space-between;
    gap: unset;
  }

  @media (max-width: 1299px) {
    gap: 40px;
    justify-content: center;
    grid-template-columns: auto;
  }
}